<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="/var/folders/mq/l0wj3z0568z8514b036b0d_c0000gn/T/startLearnGo-darwin-10.6-amd64.dylib8125285237325148647" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>